input {
  border: 0;
  background-color: var(--Lgc2);
  color: var(--Vdc);
  font-size: 1rem;
  font-weight: bolder;
  font-family: 'Space Mono', monospace;
  border-radius: 5px;
  text-align: center;
}

input:focus {
  outline: 2px solid var(--Sc);
}

input:placeholder{
  color: var(--Dgc1);
}
